form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://img.freepik.com/free-photo/industrial-park-factory-building-warehouse_1417-1928.jpg?t=st=1718910442~exp=1718914042~hmac=e5c0d66d8be52db697a583c9fe8813420496c0b9118873597e3f9906f0916fa8&w=826);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.form {
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    color: white;
    font-weight: bolder;
    -webkit-box-shadow: 12px -13px 20px 0px rgba(255, 255, 255, 0.64);
    -moz-box-shadow: 12px -13px 20px 0px rgba(255, 255, 255, 0.64);
    box-shadow: 12px -13px 20px 0px rgba(255, 255, 255, 0.64);
}

.inputs {
    padding: 5px;
}

input {
    margin-left: 10px;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

button {
    background: transparent;
    color: white;
    padding: 5px;
    font-size: larger;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: white;
    color: black;
}

.back{
    position: absolute;
    color: black;
    left: 15px;
    top: 15px;
    font-size: 800;
    font-weight: 800;
    border: 2px solid black;
    border-radius: 45%;
    cursor: pointer;
    padding: 3px;
}