<!-- <p>landing-page works!</p> -->
<nav>
    <ul>
      <li><a routerLink="/login-signup">Login</a></li>
      <li><a routerLink="/login-signup">Sign Up</a></li>
    </ul>
  </nav>
  
  <div class="landing-container">
    <img src="C:\Users\sushs\Desktop\Angular\loan-origination-system\src\assets\citi_image.avif" alt="City" class="city-image">
  
    <ul class="features-list">
      <li>Transparent</li>
      <li>Low Rate of Interest</li>
      <li>EMI Options</li>
      <!-- Add more features as needed -->
    </ul>
  
    <div class="loan-types">
      <div class="loan-type">
        <h2>Home Loan</h2>
        <p>Description of Home Loan</p>
        <button routerLink="/home-loan">Apply</button>
      </div>
      <div class="loan-type">
        <h2>Personal Loan</h2>
        <p>Description of Personal Loan</p>
        <button routerLink="/personal-loan">Apply</button>
      </div>
    </div>
  </div>